.ftpauth
node_modules
dist
build
src/*.js
src/*.map
*.log
nnews-win32-x64/
.grunt/
.tscache/
_SpecRunner.html
persoconf.json
link/
package-lock.json
src/version.ts
nnews*.7z
nnews*.zip
nnews*.tgz
website/*.js
*.msi
*.tgz
testfiles/*
.tsBuildInfoFile
.gitlab-ci.yml
.ftpauth
.DS_Store
nnews-binaries/
urllink/
testfiles/
website/